".*command.*": "rgba(0, 164, 255, 0.5)"
".*handler.*": "rgba(203, 114, 42, 0.5)"
".*query.*": "rgba(42, 203, 82, 0.7)"
".*repo.*": "rgba(226, 46, 46, 0.8)"

".*ava.int.js": "rgba(159, 59, 230, 11)"

".*ava.unit.js": "rgba(159, 59, 230, 11)"
