"/Users/restuta/Projects/bc/BC/client/admin/admin/app/scripts/main/main-ctrl.js": "#C2BF95"
"/Users/restuta/Projects/personal/atom-config/styles.less": "#F40C07"
"/Users/restuta/Projects/toast/backend/src/lib/slack/canned-toasts/morning-toast/pr-category-utils.js": "#A12EDE"
