# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
  #
# Here's an example taken from Atom's built-in keymap:
#
    # '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'

'.platform-darwin':
  'cmd-o': 'fuzzy-finder:toggle-file-finder'

'.editor':
  'cmd-alt-l': 'atom-beautify:beautify-editor'
  'cmd-i': 'window:toggle-invisibles'
  'cmd-l': 'editor:delete-line'

'atom-workspace atom-text-editor:not([mini])':
  'cmd-}': 'pane:split-right-and-move-active-item'
  'cmd-{': 'pane:split-letf-and-move-active-item'
  'cmd-[': 'pane:show-previous-item'
  'cmd-]': 'pane:show-next-item'

'atom-text-editor[data-grammar="source js jsx"]:not([mini])':
  'cmd-e': 'emmet:expand-abbreviation-with-tab'

# enables hyperclick navigation
".platform-darwin atom-text-editor":
  "f12": "hyperclick:confirm-cursor"

'atom-workspace':
  'ctrl-[': 'last-cursor-position:previous'
  'ctrl-]': 'last-cursor-position:next'
  'ctrl-l': 'window:focus-pane-on-left'
  'ctrl-r': 'window:focus-pane-on-right'

'atom-text-editor':
  "alt-f": "prettier:format",
  "cmd-shift-enter": "hey-pane:toggle-focus-of-active-pane"

'atom-text-editor:not([mini])':
  'alt-shift-C': 'editor:copy-project-path'

# '.editor':
#   'cmd-i': 'window:toggle-invisibles'


#'atom-text-editor[data-grammar="source js jsx"]:not([mini])':
#  'tab': 'emmet:expand-abbreviation-with-tab'
