packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-handlebars"
  "atom-ternjs"
  "atom-typescript"
  "autoclose-html"
  "autocomplete-modules"
  "busy-signal"
  "color-picker"
  "color-tabs"
  "color-tabs-regex"
  "editorconfig"
  "emmet"
  "fizzy-dark"
  "flow-ide"
  "git-plus"
  "grandson-of-obsidian"
  "haskell-grammar"
  "highlight-line"
  "highlight-selected"
  "hyperclick"
  "indent-guide-improved"
  "intentions"
  "isotope-ui"
  "javascript-snippets"
  "js-hyperclick"
  "js-refactor"
  "jsformat"
  "jshint"
  "language-babel"
  "language-batch"
  "language-elm"
  "language-graphql"
  "language-ini"
  "language-jade"
  "language-javascript-semantic"
  "language-ocaml"
  "language-powershell"
  "language-r"
  "language-thrift"
  "last-cursor-position"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-js-standard"
  "linter-ui-default"
  "merge-conflicts"
  "package-sync"
  "pane-manager"
  "pigments"
  "prettier-atom"
  "react"
  "refactor"
  "seti-syntax"
  "seti-ui"
  "smart-tab-name"
  "sort-lines"
  "Stylus"
  "tabs-to-spaces"
  "tool-bar"
  "turbo-javascript"
]
