/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

// .tree-view {
//
// }

// .editor .string {
//     color: salmon !important;
// }
//
// .string {
//     color: salmon !important;
// }
//
//
// .editor .cursor {
//
// }
// .theme-one-dark-ui {
//     font-size: 12;
// }

html,
body,
.tree-view {
  font-size: 14px;
}

html,
body,
.tab-bar .tab {
  font-size: 13px;
}

atom-text-editor {
  text-rendering: optimizeLegibility;
  // font-family: "Operator Mono", "Menlo";
}

status-bar .inline-block.file-info {
  font-size: 140%;
}

.syntax--type.syntax--function.syntax--arrow.syntax--js,
.syntax--operator.syntax--comparison.syntax--js,
.syntax--operator.syntax--relational.syntax--js {
  font-family: "Fira Code";
  text-rendering: optimizeLegibility;
}

@primary-bg-color: #0e1112;

// tweaking gutter look for seti-ui theme
.atom-text-editor .gutter,
atom-text-editor .gutter {
  background-color: @primary-bg-color;
  background-color: transparent;
  color: #404b53;
}

span.line-number.cursor-line.linter-cursor-line.cursor-line-no-selection {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.gutter .line-numbers {
  margin-right: 5px;
}

atom-text-editor .gutter-container {
  //margin-right: 6px;
}

atom-pane.pane {
  border-left: 1px solid black;
}

// indent-guide-improved package
.indent-guide-improved {
  background-color: rgba(245, 250, 255, 0.04);
  &.indent-guide-stack {
    background-color: rgba(245, 250, 255, 0.05);
    &.indent-guide-active {
      background-color: rgba(245, 250, 255, 0.1);
    }
  }
}

// styles "color-tabs" when "marker-style = round" is used
ul.tab-bar > li.tab[is="tabs-tab"] .marker {
  left: 0px !important;
  border-width: 3px !important;
  margin-top: 5px;
  margin-left: 5px;
}

// react, JSX, components syntax specific

span.syntax--entity.syntax--name.syntax--tag.syntax--open.syntax--jsx,
span.syntax--entity.syntax--name.syntax--tag.syntax--close.syntax--jsx {
  // color: darken(#6699CC, 10%);
  // color: darken(#F99157, 0%);
}

// tasks .todo extension
atom-text-editor.editor .syntax--tasks.syntax--header {
  color: darken(#ec5f67, 0%);
  font-size: 120%;
  font-weight: 700;
}

atom-text-editor.editor .syntax--tasks.syntax--done .syntax--marker {
  color: fade(darken(#99c794, 20%), 60%);
}

atom-text-editor.editor .syntax--tasks.syntax--cancelled .syntax--marker {
  color: fade(darken(#fac863, 20%), 60%);
}

atom-text-editor.editor .syntax--tasks.syntax--marker {
  color: #65737e;
}

atom-text-editor.editor .syntax--tasks.syntax--done.syntax--text,
atom-text-editor.editor .syntax--tasks.syntax--cancelled.syntax--text {
  color: #4f5b66;
  // text-decoration: line-through;
}

atom-text-editor.editor .syntax--tasks.syntax--done .syntax--attribute,
atom-text-editor.editor .syntax--tasks.syntax--cancelled .syntax--attribute {
  color: #343d46;
  // text-decoration: line-through;
}

atom-text-editor.editor .syntax--tasks.syntax--attribute {
  color: fade(#6699cc, 60%);
}

atom-panel-container.left
  .entries.list-tree
  .directory.entry.list-nested-item.status-modified,
atom-panel-container.right
  .entries.list-tree
  .directory.entry.list-nested-item.status-modified,
atom-panel-container.left
  .entries.list-tree
  .file.entry.list-item.status-modified,
atom-panel-container.right
  .entries.list-tree
  .file.entry.list-item.status-modified {
  color: #51ba7d;
}

li.list-item.match-row.selected {
  background-color: hsla(261, 57%, 57%, 0.78);
}

.preview-pane .results-view .match-row.selected .preview {
  color: white;
}

span.line-number.text-subtle {
  color: #3c3550;
}

// color of the file in search results
.list-nested-item > .list-item.path-row {
  color: #857faf;
  background-color: #291f3e;
}

.match.highlight-info {
  color: #619ab3;
  background-color: rgba(30, 83, 115, 0.42);
}

.syntax--meta.syntax--brace.syntax--round {
  color: rgba(160, 160, 160, 0.9) !important;
}

// js object keys
.syntax--js
  .syntax--constant.syntax--other.syntax--object.syntax--key.syntax--js
  .syntax--string.syntax--unquoted.syntax--js,
span.syntax--constant.syntax--other.syntax--object.syntax--key.syntax--js
  span.syntax--string {
  color: #99c794;
}

// react closing tag override
.syntax--js.syntax--jsx .syntax--tag.syntax--close,
.syntax--js.syntax--jsx
  .syntax--tag.syntax--closed
  .syntax--entity.syntax--name.syntax--tag.syntax--js,
.syntax--js.syntax--jsx
  .syntax--support.syntax--class.syntax--component.syntax--close.syntax--jsx {
  color: #71363a;
}

// base 00: #1B2B34
// base 01: #343D46
// base 02: #4F5B66
// base 03: #65737E
// base 04: #A7ADBA
// base 05: #C0C5CE
// base 06: #CDD3DE
// base 07: #D8DEE9
// base 08: #EC5f67
// base 09: #F99157
// base 0A: #FAC863
// base 0B: #99C794
// base 0C: #5FB3B3
// base 0D: #6699CC
// base 0E: #C594C5
// base 0F: #AB7967

//
// atom-text-editor.editor .gutter[gutter-name="linter-ui-default"] .custom-decorations {
//   background-color: transparent !important;
//   background-color: @primary-bg-color !important;
// }

// atom-workspace,
// atom-text-editor {
//   font-family: "Fira Code";
//   text-rendering: optimizeLegibility;
//   font-size: 15px;
//   font-weight: 400;
//   line-height: 1.3;
// }
//
// atom-text-editor::shadow {
//     .entity.other.attribute-name {
//         font-family: "Operator Mono";
//         font-size: 1.075em;
//         font-style: italic;
//         line-height: normal;
//     }
// }
